<% provide(:title, "動画登録") %>


<section class="hero is-fullheight">
  <div class="hero-head">
    <div class="container my-6">
      <div class="breadcrumb has-succeeds-separator mb-2" aria-label="breadcrumbs">
        <ul>
          <li><a href="<%= movies_path %>">動画管理</a></li>
          <li class="is-active"><a href="#" aria-current="page">動画登録</a></li>
        </ul>
      </div>
      <p class="title">動画登録</p>

      <%= render partial: 'form' %>
    </div>
  </div>
</section>

