.video-index {
  .switch-area {
    line-height: 2.3rem;
    letter-spacing: 0;
    text-align: center;
    font-size: 1rem;
    position: relative;
    width: 6.5rem;

    label {
      display: block;
      box-sizing: border-box;
      height: 2.5rem;
      border: 2px solid #999999;
      border-radius: 2rem;

      span:after {
        content: "非公開";
        padding: 0 0 0 2rem;
        color: #999999;
      }
    }

    .sw-img {
      position: absolute;
      width: 2rem;
      height: 2rem;
      background: #999999;
      top: 4px;
      left: 0.25rem;
      border-radius: 2rem;
      transition: .2s;
    }

  }

  .switch-area.is-active {
    label {
      border-color: $primary;

      span:after {
        content: "公開";
        padding: 0 2rem 0 0;
        color: $primary;
      }
    }
    .sw-img {
      transform: translateX(4rem);
      background: $primary;
    }

  }

}

.video-form {
  .choose-file-area {
    height: 11em; text-align: center;

    .play-icon {
      font-size: 3rem
    }

    .cursor-pointer{
      cursor: pointer;
    }
  }
}
