<nav class="navbar is-white topNav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
      </a>

      <div class="navbar-burger burger" data-target="topNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "ログアウト", logout_path, method: :delete, class: 'navbar-item' %>
      </div>
    </div>
  </div>
</nav>

<script>
    (function () {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })();
</script>
