<nav class="navbar is-white">
  <div class="container">

    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" data-target="topNav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-centered" href="<%= movie_add_path %>" style="display: block">
          <p style="font-size: 2rem">
            <%= icon('far', 'play-circle') %>
          </p>
          <p>動画登録</p>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div>
            <% all_capacity = VideoCapacity.get_monthly_capacity %>
            <p class="mb-1"><%= 1000 - all_capacity %>GB利用可能 / 1,000GB</p>
            <progress class="progress is-primary navbar-capacity-progress" value="<%= all_capacity %>" max="1000"></progress>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>

<script>
    (function () {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })();
</script>
